# Copia este archivo como .env  (docker compose lo lee automaticamente)
MQ_HOST=10.0.1.20
MQ_USER=p360
MQ_PASS=p360pass
KAFKA_HOST=10.0.1.30
AZURE_TENANT_ID=726876d2-e741-443b-91af-5309677e4def
API_CLIENT_ID=c7f6f983-e84b-4d1b-8f5a-da6dcac01435
SPRING_PROFILES_ACTIVE=docker
